.converter-fields {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: 100%;
  justify-content: center;

  span {
    margin: 0 10px;
  }
}

.converter-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #00b4d8;
  border-radius: 8px;
}

#forms{
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
